<!-- <section class="menu"> -->
    <!-- <div class="container">
        <h1 class="text-center">Our Menu</h1>

        <div class="row mt-5" >
            <div class="col-lg-3 mb-5" *ngFor="let cs of menu">
                <div class="box shadow-sm">
                    <img src="{{cs.image}}" width="100%">
                    <h4 class="mt-2">{{cs.name}}</h4>
                    <p class="mt-2">{{cs.description}}</p>
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>
                </div>

            </div>
        </div>

    </div> -->


    <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*"> Lunch Box</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../../assets/andhra food.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Andhra Lunch
                  </h5>
                  <p>
                    Tasty,  Spicy and tangy. Lunch box comes with delicious pappu pachadi and ghee
                  </p>
                  <a routerLink="/s1product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>


                  <!-- <div class="options">

                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/Kerala food.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Kerala lunch
                  </h5>
                  <p>
                    Coconut oils, rich spices and papaddams is our signature of this lunch box
                  </p>
                  <a routerLink="/s2product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/karnataka.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Kannada Lunch
                  </h5>
                  <p>
                    Dishes with loads of ghee, Jaggery and wide variety of baths makes this box special
                  </p>
                  <a routerLink="/s3product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/tamilnadu-food.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Tamil Lunch
                  </h5>
                  <p>
                    Aromatic, delicious and mouth watering dishes like Sambar poriyal makes this lunch yummy
                  </p>
                  <a routerLink="/s4product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/north indian.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    North Indian Lunch
                  </h5>
                  <p>
                    Variety of hot parathas, spicy panner and mouth watering sweets make this <br> box special
                  </p>
                  <a routerLink="/s5product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/veg-biryani .png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Veg Biryani
                  </h5>
                  <p>
                    Hot sizzling and spicy dish with right nix of veggies and heart content of ghee makes this extra special
                  </p>
                  <a routerLink="/s6product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->


    <!-- </section> -->

<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>
            Contact Us
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  First Floor, No.14, 150, 1 Anugraha
                  Avani Shringeri Nagar,
                  BTM 6th Stage, Bengaluru, Karnataka 560076
                </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                  Call +91 9876543210
                </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                  psfoods&#64;gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo">
            PS Foods
          </a>
          <p>
            PS Foods believes in preparing great food with quality and taste. We believe in the happiness that our customers experience with our food.
          </p>
<!--          <div class="footer_social">-->
<!--            <a href="">-->
<!--              <i class="fa fa-facebook" aria-hidden="false"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-twitter" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-linkedin" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-instagram" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-pinterest" aria-hidden="true"></i>-->
<!--            </a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>
          Opening Hours
        </h4>
        <p>
          Everyday
        </p>
        <p>
          10.00 Am -10.00 Pm
        </p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">PS Foods</a><br><br>
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->

