
<!-- single product -->
<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-img">
          <img src="../../assets/veg-biryani%20%20(1).png" alt="">

        </div>
      </div>
      <div class="col-md-7">
        <div class="single-product-content">
          <h3>Veg Biryani</h3>
          <p class="single-product-pricing"><span>Per box</span>99Rs </p>
          <p>Hot sizzling and spicy dish with right nix of veggies and heart content of ghee makes this extra special
          </p>
          <div class="single-product-form">
            <form action="l">
              <input type="number" placeholder="0">
            </form>
            <a routerLink="/cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end single product -->
