
<!-- single product -->
<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-img">
          <img src="../../assets/tamilnadu-food%20(1).png" alt="">

        </div>
      </div>
      <div class="col-md-7">
        <div class="single-product-content">
          <h3>Tamil Lunch</h3>
          <p class="single-product-pricing"><span>Per box</span>99Rs </p>
          <p>Aromatic, delicious and mouth watering dishes like Sambar poriyal makes this lunch yummy</p>
          <div class="single-product-form">
            <form action="l">
              <input type="number" placeholder="0">
            </form>
            <a routerLink="/cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>

          </div>
<!--          <h4>Share:</h4>-->
<!--          <ul class="product-share">-->
<!--            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>-->
<!--            <li><a href=""><i class="fab fa-twitter"></i></a></li>-->
<!--            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>-->
<!--            <li><a href=""><i class="fab fa-linkedin"></i></a></li>-->
<!--          </ul>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end single product -->
