<section class="home">
    <img src="../../assets/food.png">

    <div class="homecontent">
        <h1>Count the memories,<br>Not the Calories</h1>
        <a routerLink="menu" class="btn btn-lg btn-light">Explore Menu</a> &nbsp;
    </div>
</section>




<!-- product section -->
<!-- <div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">Our</span> Menu</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a routerLink="s1product"><img src="../../assets/andhra food.png" alt=""></a>
          </div>
          <h3>Andhra Lunch </h3>
          <p class="product-price"><span>Tasty,  Spicy and tangy. Lunch box comes with delicious pappu pachadi and ghee</span>  </p>
          <h4>99Rs</h4>
          <a routerLink="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a routerLink="s1product"><img src="../../assets/Kerala food.png" alt=""></a>
          </div>
          <h3>Kerala lunch</h3>
          <p class="product-price"><span>Coconut oils, rich spices and papaddams is our signature of this lunch box</span> </p>
          <h4>99Rs</h4>
          <a routerLink="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a routerLink="s1product"><img src="../../assets/karnataka.png" alt=""></a>
          </div>
          <h3>kannada Lunch</h3>
          <p class="product-price"><span>Dishes with loads of ghee, Jaggery and wide variety of baths makes this box special</span> </p>
          <h4>99Rs</h4>
          <a routerLink="cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- end product section -->




  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*"> Lunch Box</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../../assets/andhra food.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Andhra Lunch
                  </h5>
                  <p>
                    Tasty,  Spicy and tangy. Lunch box comes with delicious pappu pachadi and ghee
                  </p>
                  <a routerLink="s1product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>

                  <!-- <div class="options">

                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/Kerala food.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Kerala lunch
                  </h5>
                  <p>
                    Coconut oils, rich spices and papaddams is our signature of this lunch box
                  </p>
                  <a routerLink="s2product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/karnataka.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Kannada Lunch
                  </h5>
                  <p>
                    Dishes with loads of ghee, Jaggery and wide variety of baths makes this box special
                  </p>
                  <a routerLink="s3product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/tamilnadu-food.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Tamil Lunch
                  </h5>
                  <p>
                    Aromatic, delicious and mouth watering dishes like Sambar poriyal makes this lunch yummy
                  </p>
                  <a routerLink="s4product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/north indian.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    North Indian Lunch
                  </h5>
                  <p>
                    Variety of hot parathas, spicy panner<br> and mouth watering sweets make<br> this box special
                  </p>
                  <a routerLink="s5product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                    <img src="../../assets/veg-biryani .png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Veg Biryani
                  </h5>
                  <p>
                    Hot sizzling and spicy dish with right nix of veggies and heart content of ghee makes this extra special
                  </p>
                  <a routerLink="s6product" class="cart-btn"><i class="fas fa-shopping-cart"></i> Order Now</a>
                  <!-- <div class="options">
                    <button class="btn btn-primary btn-sm mt-2">Order now</button>


                  </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->




<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../../assets/aboutBox.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About Us
            </h2>
          </div>
          <p>
            PS Foods believes in preparing great food with quality and taste. We believe in the happiness that our customers experience with our food. We believe in health that our food provides to our customers. We believe in the affordability our lunch box provide. We go an extra mile to ensure hygienic use of lunch boxes.Cleanliness quality and hygiene are the mantra for us. We are PS Foods for you
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->



<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Book A Event
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="">
            <div>
              <input type="text" class="form-control" placeholder="Your Name" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Phone Number" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="Your Email" />
            </div>
            <div>
              <select class="form-control nice-select wide">
                <option value="" disabled selected>
                  How many persons?
                </option>
                <option value="">
                  2
                </option>
                <option value="">
                  3
                </option>
                <option value="">
                  4
                </option>
                <option value="">
                  5
                </option>
              </select>
            </div>
            <div>
              <input type="date" class="form-control">
            </div>
            <div class="btn_box">
              <button>
                Book Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container ">
          <div id="googleMap">
            <iframe class="position-absolute w-100 h-100" style="object-fit: cover;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.449400544041!2d77.60781487368999!3d12.8787988169089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6bda3d013719%3A0xa97f4e02b8a49f54!2sEiTechOne!5e0!3m2!1sen!2sin!4v1702079543936!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->

<!-- testimonial.component.html -->

<!--<section class="testimonials-section">-->
<!--  <h2>Testimonials</h2>-->

<!--  <div class="testimonial-container">-->
<!--    <div *ngFor="let testimonial of testimonials" class="testimonial-box" [class.hidden]="!testimonial.visible">-->
<!--      <img [src]="testimonial.image" [alt]="testimonial.alt" class="client-image">-->
<!--      <p class="client-review">{{ testimonial.review }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->





<!-- client section -->
<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Testimonials
      </h2>
    </div>
  </div>
  <div id="customCarousel2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="../../assets/teena%201.jpeg" alt="">
                </div>
                <div class="detail-box">
                  <div class="client_info">
                    <div class="client_name">
                      <h5>
                        Teena
                      </h5>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                  <p>
                    Budget friendly lunch with yummy varieties and not the same boring lunch everyday.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="../../assets/jack%201.jpg" alt="">
                </div>
                <div class="detail-box">
                  <div class="client_info">
                    <div class="client_name">
                      <h5>
                        Jack
                      </h5>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                  <p>
                    I just love the  taste of this lunch box. The food quality and hygiene are really commendable.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="box">
                <div class="img-box">
                  <img src="../../assets/john%201.jpg" alt="">
                </div>
                <div class="detail-box">
                  <div class="client_info">
                    <div class="client_name">
                      <h5>
                        John
                      </h5>
                    </div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                  <p>
                    I cant wait for my lunch box daily. Super food,  great taste and best, it does not pinch my pocket.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel2" data-slide-to="1"></li>
      <li data-target="#customCarousel2" data-slide-to="2"></li>
    </ol>
  </div>
</section>
<!-- end client section -->

<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>
            Contact Us
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  First Floor, No.14, 150, 1 Anugraha
                  Avani Shringeri Nagar,
                  BTM 6th Stage, Bengaluru, Karnataka 560076
                </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                  Call +91 9876543210
                </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                  psfoods&#64;gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo">
            PS Foods
          </a>
          <p>
            PS Foods believes in preparing great food with quality and taste. We believe in the happiness that our customers experience with our food.
          </p>
<!--          <div class="footer_social">-->
<!--            <a href="">-->
<!--              <i class="fa fa-facebook" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-twitter" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-linkedin" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-instagram" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="">-->
<!--              <i class="fa fa-pinterest" aria-hidden="true"></i>-->
<!--            </a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>
          Opening Hours
        </h4>
        <p>
          Everyday
        </p>
        <p>
          10.00 Am -10.00 Pm
        </p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">PS Foods</a><br><br>
      </p>
    </div>
  </div>
</footer>
<!-- footer section -->
